@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
html {
  font-size: 16px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Lora", serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 576px) {
  .container {
    padding: 0 14px;
  }
}

.first-screen {
  display: none;
  padding: 66px 0 73px;
  background-image: linear-gradient(125deg, #121212 0%, #696969 100%);
}
.first-screen__title {
  margin: 0 0 13px;
  font-weight: 700;
  font-size: 50px;
  line-height: 127%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
}
.first-screen__description {
  max-width: 840px;
  margin: 0 0 84px;
  font-weight: 700;
  font-size: 35px;
  line-height: 127%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #deac4c;
}
.first-screen__callback {
  max-width: 908px;
  padding: 27px 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #deac4c;
}
.first-screen__callback-title {
  margin: 0 0 17px;
  font-weight: 700;
  font-size: 28px;
  line-height: 133%;
  text-transform: uppercase;
  color: #fcfcfc;
}
.first-screen__callback-form {
  margin: 0 0 13px;
}
.first-screen__callback-form-input {
  padding: 14px 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  color: #fcfcfc;
  border: none;
  outline: none;
  background: #ae7f23;
}
.first-screen__callback-form-input::-webkit-input-placeholder {
  color: #fcfcfc;
}
.first-screen__callback-form-input::-moz-placeholder {
  color: #fcfcfc;
}
.first-screen__callback-form-input:-ms-input-placeholder {
  color: #fcfcfc;
}
.first-screen__callback-form-input::-ms-input-placeholder {
  color: #fcfcfc;
}
.first-screen__callback-form-input::placeholder {
  color: #fcfcfc;
}
.first-screen__callback-agreement {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 98%;
  color: #f7eede;
}

.examples {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .examples {
    padding: 70px 0;
  }
}
.examples__title {
  margin: 0 0 23px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
@media (max-width: 992px) {
  .examples__title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .examples__title {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
.examples__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
  margin: 0 0 47px;
}
@media (max-width: 576px) {
  .examples__content {
    margin: 0 -14px 33px;
  }
}
.examples__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  padding: 26px 26px 28px;
  background-color: #f5f5f4;
}
@media (max-width: 992px) {
  .examples__card {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .examples__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .examples__card {
    padding: 15px;
  }
}
.examples__card-slider {
  position: relative;
  display: grid;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
}
@media (max-width: 992px) {
  .examples__card-slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 380px;
            flex: 0 0 380px;
  }
}
@media (max-width: 768px) {
  .examples__card-slider {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.examples__card-slider-image {
  display: block;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 500/365;
  -o-object-fit: cover;
     object-fit: cover;
}
.examples__card-slider .swiper {
  max-width: 100%;
  height: auto;
}
.examples__card-slider .swiper-slide {
  display: block;
}
.examples__card-slider-controls-prev, .examples__card-slider-controls-next {
  position: absolute;
  top: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .examples__card-slider-controls-prev, .examples__card-slider-controls-next {
    width: 28px;
  }
}
.examples__card-slider-controls-prev::before, .examples__card-slider-controls-next::before {
  content: "";
  display: block;
  width: 55%;
  aspect-ratio: 1/1;
  background: url(../assets/icons/prev-icon.svg) center/cover no-repeat;
}
.examples__card-slider-controls-prev {
  left: 0;
}
.examples__card-slider-controls-next {
  right: 0;
}
.examples__card-slider-controls-next::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.examples__card-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 534px;
          flex: 0 1 534px;
}
@media (max-width: 768px) {
  .examples__card-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.examples__card-info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0 0 36px;
  padding: 0 0 42px;
  list-style-type: none;
  border-bottom: 2px solid #deac4c;
}
@media (max-width: 576px) {
  .examples__card-info-details {
    gap: 0;
    margin-bottom: 26px;
    padding-bottom: 25px;
  }
}
.examples__card-info-details-item {
  font-size: 16px;
  line-height: 112%;
}
@media (max-width: 576px) {
  .examples__card-info-details-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 150%;
  }
}
.examples__card-info-details-item-name {
  font-weight: 700;
  color: #deac4c;
}
.examples__card-info-details-item-text {
  font-weight: 400;
  color: #000000;
}
.examples__card-info-price {
  margin: 0 0 26px;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 576px) {
  .examples__card-info-price {
    margin-bottom: 31px;
    font-size: 20px;
  }
}
.examples__card-info-price-value {
  color: #deac4c;
}
.examples__card-info-price-text {
  color: #000000;
}
.examples__card-info-offer {
  margin: 0 0 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 112%;
  color: #000;
}
.examples__card-info-consult-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 362px;
  min-height: 50px;
  width: 100%;
  padding: 13px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
  border: 2px solid #deac4c;
  outline: none;
  background-color: #ffffff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .examples__card-info-consult-button {
    max-width: none;
  }
}
.examples__card-info-consult-button:hover {
  color: #ffffff;
  background-color: #deac4c;
}
.examples__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.examples__more-button {
  max-width: 505px;
  width: 100%;
  padding: 18px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #deac4c;
  outline: none;
  background-color: #deac4c;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .examples__more-button {
    max-width: none;
    font-size: 16px;
  }
}
.examples__more-button:hover {
  color: #deac4c;
  background-color: #ffffff;
}

.stones {
  padding: 0 0 80px;
}
@media (max-width: 992px) {
  .stones {
    padding-bottom: 70px;
  }
}
.stones__title {
  margin: 0 0 23px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
@media (max-width: 992px) {
  .stones__title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .stones__title {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
.stones__slider {
  position: relative;
  padding: 0 32px;
}
@media (max-width: 576px) {
  .stones__slider {
    padding: 0 14px;
  }
}
.stones__slider-slide-figure {
  margin: 0 0 10px;
}
.stones__slider-slide-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}
.stones__slider-slide-name {
  font-size: 14px;
  line-height: 120%;
  color: #000;
  text-align: center;
}
.stones__slider-controls-prev, .stones__slider-controls-next {
  position: absolute;
  top: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .stones__slider-controls-prev, .stones__slider-controls-next {
    width: 24px;
  }
}
.stones__slider-controls-prev::before, .stones__slider-controls-next::before {
  content: "";
  display: block;
  width: 55%;
  aspect-ratio: 1/1;
  background: url(../assets/icons/prev-icon.svg) center/cover no-repeat;
}
@media (max-width: 576px) {
  .stones__slider-controls-prev::before, .stones__slider-controls-next::before {
    width: 80%;
  }
}
.stones__slider-controls-prev {
  left: -10px;
}
.stones__slider-controls-next {
  right: -10px;
}
.stones__slider-controls-next::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.why-we {
  padding: 0 0 80px;
}
@media (max-width: 992px) {
  .why-we {
    padding-bottom: 70px;
  }
}
.why-we__title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
@media (max-width: 992px) {
  .why-we__title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .why-we__title {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
.why-we__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
}
@media (max-width: 992px) {
  .why-we__content {
    gap: 15px;
  }
}
.why-we__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 16.5px);
          flex: 0 0 calc(25% - 16.5px);
  padding: 28px 19px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #deac4c;
}
@media (max-width: 992px) {
  .why-we__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 7.5px);
            flex: 0 0 calc(50% - 7.5px);
  }
}
@media (max-width: 576px) {
  .why-we__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.why-we__card-title {
  margin: 0 0 19px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #deac4c;
  border-bottom: 2px solid #deac4c;
}
@media (max-width: 576px) {
  .why-we__card-title {
    text-align: center;
  }
}
.why-we__card-text {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
@media (max-width: 576px) {
  .why-we__card-text {
    text-align: center;
  }
}

.callback {
  padding: 0 0 80px;
}
@media (max-width: 992px) {
  .callback {
    padding-bottom: 70px;
  }
}
.callback__wrapper {
  position: relative;
  padding: 54px 49px;
  overflow: hidden;
  background-image: linear-gradient(271deg, #eac677 50%, #ae7f23 100%);
}
@media (max-width: 992px) {
  .callback__wrapper {
    padding: 45px 24px 0;
  }
}
@media (max-width: 576px) {
  .callback__wrapper {
    margin: 0 -14px;
  }
}
.callback__title {
  position: relative;
  z-index: 10;
  max-width: 774px;
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 992px) {
  .callback__title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .callback__title {
    margin-bottom: 8px;
    font-size: 20px;
  }
}
.callback__description {
  position: relative;
  z-index: 10;
  max-width: 648px;
  margin: 0 0 17px;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #fdfdfd;
}
@media (max-width: 992px) {
  .callback__description {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .callback__description {
    margin-bottom: 22px;
    font-size: 16px;
  }
}
.callback__form {
  position: relative;
  z-index: 10;
  max-width: 540px;
}
.callback__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  margin: 0 0 13px;
}
.callback__form-label-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: #fdfdfd;
}
.callback__form-label-input {
  display: inline-block;
  width: 100%;
  padding: 6px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: #fdfdfd;
  border: 2px solid #ffffff;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}
.callback__form-label-input::-webkit-input-placeholder {
  color: #ffffff;
}
.callback__form-label-input::-moz-placeholder {
  color: #ffffff;
}
.callback__form-label-input:-ms-input-placeholder {
  color: #ffffff;
}
.callback__form-label-input::-ms-input-placeholder {
  color: #ffffff;
}
.callback__form-label-input::placeholder {
  color: #ffffff;
}
.callback__form-submit {
  margin: 33px 0 0;
  padding: 0;
  border: none;
}
.callback__form-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 362px;
  min-height: 50px;
  width: 100%;
  padding: 19px 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #af7f24;
  border: none;
  outline: none;
  background-color: #ffffff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .callback__form-submit-button {
    max-width: none;
    min-height: auto;
    padding: 12px 36px;
    font-size: 16px;
  }
}
.callback__form-submit-button:hover {
  color: #ffffff;
  background-color: #deac4c;
}
.callback__figure {
  position: absolute;
  top: 0;
  left: 480px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
@media (max-width: 992px) {
  .callback__figure {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 -24px;
    aspect-ratio: 38/28;
  }
}
.callback__figure-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  max-width: none;
  height: 100%;
  aspect-ratio: 94/62;
}
@media (max-width: 992px) {
  .callback__figure-image {
    width: 130%;
    height: auto;
    -webkit-transform: translate3d(-10%, -10%, 0);
            transform: translate3d(-10%, -10%, 0);
  }
}